.theme_image{width:100vw;height:600px}.theme_image img{width:100%;height:100%;object-fit:cover}.form_wrap{box-sizing:border-box}.form_wrap .input-group{width:400px}.form_wrap .input-group label{color:#666!important}.form_wrap .button_group{margin:0 auto;height:40px}.form_wrap .button_group .btn_wrap{display:flex;justify-content:center;align-items:center;width:240px;height:40px;background:#1890ff;border-radius:20px;font-size:22px;font-family:SimHei;font-weight:400;color:#fff;cursor:pointer;transition:.5s}.form_wrap .button_group .btn_wrap:hover{background-color:#0886fb;box-shadow:0 0 20px #0962c9}.loading_wrap{display:none;width:100vw;height:100vh;top:0;left:0;background-color:hsla(0,0%,100%,.6)}.loading_wrap .loading{z-index:1;top:50%;left:50%}
.mb-form-standard{
    margin-bottom: 25px;
}
@media screen and (max-width:768px){
    .form_wrap .button_group_order{
        margin-top: 60px;
    }
}

.download{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    background: url(../__IMG__/download.png) no-repeat;
    transition: all 0.5s;
}
.upload{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    background: url(../__IMG__/upload.png) no-repeat;
    transition: all 0.5s;
}
.addItem{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    background: url(../__IMG__/add_blue.png) no-repeat;
    transition: all 0.5s;

}

.reduceItem{
    width:32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    background: url(../__IMG__/reduce_blue.png) no-repeat;
    transition: all 0.5s;
}
.addItem:hover,.reduceItem:hover{
    box-shadow: 0 0 10px #0886fb ;
}
.importCountdown .layui-layer-content{
    text-align: center;
    padding: 30px;
}
.importCountdown .layui-layer-content p{
    margin-bottom: 5px;
}
.importCountdown .layui-layer-content .loading{
    margin-bottom: 15px;
}
.flagBox{
    display: flex;
    align-items: center;
    border:1px solid #ced4da;
    cursor:pointer;
    position: relative;
    justify-content: center;
}
.flagBox .flagBlock{
    display: flex;
    align-items: center;
}
.flagBlock .arrow{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #555;
}
.flagBox .flagIcon{
    display: inline-block;
    width: 20px;
    height: 15px;
    box-shadow: 0 0 1px 0 #888;
    background-image: url(../__IMG__/flags.png);
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    background-position: 20px 0;
}
.flagBox .hk{
    background-position: -2171px 0;
}
.flagBox .cn{
    background-position: -1049px 0;
}
.flagBox .flagSelect{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: 38px;
    border: 1px solid #ced4da;
    background:#fff;
}
.flagSelect li{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.flagSelect li:hover{
    background:#D6D6D6;

}
.flagSelect li.active{
    background:#D6D6D6;
}
