.container{max-width:1200px!important}.header-fiexd{position:fixed;left:0;top:0;z-index:2}body::-webkit-scrollbar{width:10px;height:1px}body::-webkit-scrollbar-thumb{background:#b3b1b1}body::-webkit-scrollbar-thumb,body::-webkit-scrollbar-track{border-radius:10px;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.2)}body::-webkit-scrollbar-track{background:#ededed}.navbar{width:100vw;background-color:#181818;color:#fff;box-sizing:border-box}.navbar .navbar-brand{font-size:22px;font-family:PingFang;font-weight:700;color:#fff;margin-right:57px}.navbar .navbar-brand img{width:100px;height:auto}.navbar #navbarSupportedContent .navbar-nav .nav-item{height:100%;border-bottom:3px solid transparent;transition:all .5s;padding:18px 0}.navbar #navbarSupportedContent .navbar-nav .nav-item a{font-size:20px;font-family:SimHei;font-weight:400;color:hsla(0,0%,100%,.5);text-decoration:none}.navbar #navbarSupportedContent .navbar-nav .nav-item:hover{border-bottom:3px solid #1890ff}.navbar #navbarSupportedContent .navbar-nav .nav-item:hover a{color:#1890ff!important}.navbar #navbarSupportedContent .navbar-nav .active{border-bottom:3px solid #1890ff}.navbar #navbarSupportedContent .navbar-nav .active a{color:#1890ff!important}.navbar .language_wrap{width:80px;cursor:pointer;margin:0 10px 0 25px}.navbar .language_wrap .top_wrap{font-size:18px;font-family:SimHei;font-weight:400;color:#fff}.navbar .language_wrap .lan_ul{width:80px;z-index:1;top:40px;left:-8px;background:#181818;display:none}.navbar .language_wrap .lan_ul .lan_li{width:100%;height:50px;display:flex;align-items:center;justify-content:center;font-size:18px;font-family:SimHei}.navbar .language_wrap .lan_ul .lan_li a{color:#fff}.navbar .login_register{width:150px;height:36px;background:#181818;border:1px solid #fff;border-radius:18px}.navbar .login_register a{height:100%;width:50%;display:flex;justify-content:center;align-items:center;font-size:16px;font-family:SimHei;font-weight:400}.navbar .login_register .register{color:#fff;background:#181818;border-radius:18px}.navbar .login_register .login{color:#02163c;background:#fff;border-radius:0 18px 18px 0}.navbar .logined{cursor:pointer;width:50px;height:50px;border-radius:50%}.navbar .logined img{width:100%;height:100%;border-radius:50%}.navbar 
.login_register{
    display: flex;
}
/* .logined:hover{box-shadow:0 0 10px #1890ff} */
#username_logout{
    background-color: #fff;
}
#username_logout #logout{
    background-color: #000;
    color: #fff;
}
.loading_wrap {
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: hsla(0,0%,100%,.6);
    z-index: 999;
}
.loading_wrap .loading{z-index:1;top:50%;left:50%}
.back_top{
    z-index: 5;
}